---
import { config } from '../../config';
---

<footer class="bg-oxford-blue-900 px-0 md:px-8 py-8" role="contentinfo">
  <div class="container w-full mx-auto px-4">
    <h2 class="text-white mb-4 text-2xl">{config.fullTitle}</h2>
    <address class="text-base text-white not-italic">{config.address}</address>
  </div>
</footer>

<style></style>
