---
import { config } from '../../config';
---

<footer class="px-0 py-8 md:px-8 bg-oxford-blue-900" role="contentinfo">
  <div class="container mx-auto px-4">
    <h2 class="mb-4 text-2xl text-white">{config.fullTitle}</h2>
    <address class="not-italic text-base text-white">{config.address}</address>
  </div>
</footer>

<style></style>
