---
import clsx from 'clsx';

export interface Props {
  hero: boolean;
  title: string;
  tagLine: string;
}

const { hero, title, tagLine } = Astro.props;
---

<header class={clsx('bg-atlantis-500', hero && 'h-[25rem]', 'items-center', 'px-0', 'md:px-8', 'py-16', 'flex')}>
  <div class="container mx-auto px-4">
    <h1 class={clsx('text-white', !hero && 'text-center mb-0', 'text-5xl')}>{title}</h1>
    {tagLine && <p class="text-white text-2xl">{tagLine}</p>}
  </div>
</header>
