---
---

<div role="region" aria-label="Skip to main content">
  <a
    class="sr-only focus:not-sr-only focus:text-base focus:shadow-[0_5px_40px_rgba(0,0,0,0.2)] focus:bg-white focus:text-black focus:px-4 focus:py-2 focus:z-50 focus:fixed focus:top-4 focus:left-4"
    href="#skipToContent_fallback">Skip to main content</a
  >
</div>
