---
import SkipLink from '../components/SkipLink.astro';
import Navbar from '../components/Navbar.astro';
import Footer from '../components/Footer.astro';
import '../styles/tailwind.css';
import { config } from '../../config';

export interface Props {
  title: string;
}

const { title } = Astro.props;
---

<!DOCTYPE html>
<html lang="th" dir="ltr" class="h-full">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>{title} | {config.title}</title>
    <link rel="icon" href="favicon.ico" />
    <script async src="https://www.googletagmanager.com/gtag/js?id=G-5HNB0DMQG7"></script>
    <script>
      window.dataLayer = window.dataLayer || [];
      function gtag() {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'G-5HNB0DMQG7');
    </script>
  </head>
  <body class="h-full overflow-visible">
    <div class="min-h-full flex-col flex">
      <SkipLink />
      <Navbar />
      <div class="flex-col flex-[1_0_auto] flex" id="skipToContent_fallback">
        <slot />
      </div>
      <Footer />
    </div>
  </body>
</html>
